@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}


/*NavBar*/

.navbar {
  background-color: #F5F5F5;
}

.navbar-brand {
  border: none;
}

.navbar-collapse {
  margin-right: 100px;
}

.nav-link {
  color: black !important;
  font-size: 20px;
}

.nav-link:hover {
  color: #80778c !important;
  font-size: 20.5px;
}

.nav-item a:hover {
  color: #80778c;
}

.dropdown {
  position: relative;
  display: inline-block;
  background-color: #F5F5F5;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Carousel*/
.carousel-inner {
  background: black;
}
.carousel-inner img{
  object-fit: cover;
  opacity: 0.5;
}

.carousel-item h1 {
  margin: 0;
  font-size: 80px;
  color: white
}

@media screen and (max-width:843px) {
  h1{
      color:white;
      font-size:20px !important;
  }  
}

.carousel-item p{
  font-size: 50px;
  color: white;
  margin-top: 20px;
}

@media screen and (max-width:843px) {
  p{
      color:white;
      font-size:15px !important;
  }  
}

.carousel-item button {
  margin-top: 20px;
  color: white;
  background-color: black;
}

.carousel-item button:hover {
  color: #80778c;
  background-color: black;
  
}

@media screen and (max-width:843px) {
  button{
      color:white;
      font-size: 10px !important;
      margin-top: 10px !important;
  }  
}
@media screen and (max-height: 600px) {
  .carousel-item {
  height: 24rem !important;
  }
}

@media screen and (max-height: 600px) {
    .carousel-inner img{
    height: 24rem !important;
    }
  }

/*Footer*/

.footer-basic {
  padding: 40px 0;
  background-color: #F5F5F5;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
  color: #80778c;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
  color: #80778c;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.footer-basic, .page-wrap:after {
  /* .push must be the same height as footer */
   height: 142px; 
} 