/* strikethroughs */
.strikethrough {
    text-decoration: line-through 2px solid red !important;
}

.strikethrough2 {
    text-decoration: line-through 2px solid #155724 !important;
}

/* background color */
.page-wrap {
  color: rgba(0, 0, 0, 0.774) !important;
  background-image: url("https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2804&q=80") !important;
  background-size: 100%;
  background-repeat: repeat-y; 
}

/* if making an image overlay onto a card then can darken background image */
/* .background-image {
  background-color: black;
  opacity: 0.8;
  ;
} 
 .card-img-overlay {
  backdrop-filter: blur(3px) !important;
} */
 
/* card body background color */
.card-body {
    background-color:#d1c8c3 !important;
    opacity: 90%;
    backdrop-filter: blur(50px) !important;
    
}

/* sizing of card */
.card {
  max-width: 75% !important;
  position: relative;
}
/* sizing of text */
#toDo {
  max-width: 50%;
}

/* changing background color of list items */
.list-group-item-dark1 {
    background-color: #ede8e0 !important;
    color: rgb(36, 34, 34) !important;
}

/* if doing image overlay and had overlap: can use this to make scroll bar
.list-group {
  flex-grow: 1;
    padding: 2em;
    overflow-y: scroll;
} */

/*fade out animation */
.fade-out {
    animation: fadeOut ease 550ms;
    -webkit-animation: fadeOut ease 550ms;
    -moz-animation: fadeOut ease 550ms;
    -o-animation: fadeOut ease 550ms;
    -ms-animation: fadeOut ease 550ms;
  }
  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  @-moz-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  @-webkit-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  @-o-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }
  @-ms-keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
}


/* fixing footer mobile issue */
html, body {
    height: 100%;
  }
  .page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px; 
  }
  .page-wrap:after {
    content: "";
    display: block;
  }
  .footer-basic, .page-wrap:after {
    /* .push must be the same height as footer */
    height: 142px; 
  }