@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #444444;
}


  
.tip-background-image {
    background-color: black;
    opacity: 0.8;
}


body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(https://pixabay.com/get/g8e88d938c2b391bd687565e9b60609b7da6ee8320b99f85877d540c1ed1060591d8e8f139a6b40289e896c31473a7e0a.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    font-size: 20px;
    font-weight: 300;
    color: #443f37;
}

.container-tip {
    margin: 25px auto 25px auto;
    position: static;
    width: 450px;
    background-color:#dadadaa1;
    color: #443f37;
    backdrop-filter: blur(4px);
    text-align: center;
    border-radius: 8px;
    backdrop-filter: blur(5px);
}

.control {
    margin: 16px;
}

.tip-h1 {
    font-weight: 400;
    font-size: 52px;
    color: #443f37;
    background-color: #f6e5cb;
    padding: 15px;
    margin-bottom: 6px;
    border-radius: 5px;
}

input {
    border: none;
    padding: 10px;
    font-size: 15px;
    border-bottom: 3px solid #959caa;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    margin-top: 10px;
}

select {
    border: none;
    padding: 10px;
    font-size: 15px;
    border-bottom: 3px solid #959caa;
    background-color: transparent;
    text-align: center;
    margin-top: 10px;
}


#calculate {
    padding: 10px;
    margin-left: 5px;
    font-size: 15px;
    color: #443f37;
    border: 0px solid #959caa;
    background-color: #f8f9f3;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}

#calculate:hover {
    padding: 10px;
    font-size: 15px;
    background-color: #f6e5cb;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}

.totalTip {
   background-color: #f8f9f3;
   margin-top:35px;
   font-size: 23px; 
   border-radius: 5px;
   padding: 10px;
}

p.tip {
    font-size: 38px;
}