@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #444444;
}
  
.tip-background-image {
    background-color: black;
    opacity: 0.8;
}



body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25) ), url(/assets/images_tip/ikea-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
    font-weight: 300;
    color: #443f37;
    margin-bottom: 50px;
}

.container-tip {
    margin: 25px auto 25px auto;
    font-size: 25px;
    position: relative;
    /* width: 450px; */
    width: 50%;
    height: 90%;
    background-color:#e2e2e2a1;
    color: #443f37;
    backdrop-filter: blur(4px);
    text-align: center;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    overflow: auto;
}

.control {
    margin: 16px;
}

.tip-h1 {
    font-weight: 400;
    font-size: 52px;
    color: #443f37;
    background-color: #f6e5cb;
    padding: 15px;
    margin-bottom: 6px;
    border-radius: 5px;
}

input {
    border: none;
    padding: 10px;
    font-size: 15px;
    border-bottom: 3px solid #959caa;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    margin-top: 10px;
}

select {
    border: none;
    padding: 10px;
    font-size: 15px;
    border-bottom: 3px solid #959caa;
    background-color: transparent;
    text-align: center;
    margin-top: 10px;
}


#calculate {
    padding: 10px;
    margin-left: 5px;
    font-size: 15px;
    color: #443f37;
    border: 0px solid #959caa;
    background-color: #f8f9f3;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}

#calculate:hover {
    padding: 10px;
    font-size: 15px;
    background-color: #f6e5cb;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}

.totalTip {
   background-color: #f8f9f3;
   margin-top:35px;
   font-size: 23px; 
   border-radius: 5px;
   padding: 10px;
}

p.tip {
    font-size: 38px;
}

html, body {
    height: 100%;
  }
  .page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px; 
  }
  .page-wrap:after {
    content: "";
    display: block;
  }
  .footer-basic, .page-wrap:after {
    /* .push must be the same height as footer */
    height: 142px; 
  }



@media screen and (max-width:988px){
    * {
        color: #443f37 !important;
    }
    .container-tip {
        margin: 25px auto 25px auto;
        position: relative;
        width: 75%;
        background-color:#dadadaa1;
        color: #443f37;
        backdrop-filter: blur(4px);
        text-align: center;
        border-radius: 8px;
        backdrop-filter: blur(5px);
        overflow: auto;
        font-size: 20px;
    }
    .tip-h1 {
        font-weight: 400;
        font-size: 24px;
        color: #443f37;
        background-color: #f6e5cb;
        padding: 15px;
        margin-bottom: 6px;
        border-radius: 5px;
    }

    #split {
        border: none;
        padding: 5px;
        font-size: 15px;
        border-bottom: 3px solid #959caa;
        background-color: rgba(255, 255, 255, 0);
        text-align: center;
        margin-top: 10px;
    }

    #tipPercent {
        padding: 5px;
        font-size: 12px;

    }

}